services:
  redis:
    image: redis:7
    container_name: redis
    ports:
      - "6379:6379"
    restart: always

  server:
    build: ./server
    ports:
      - "3000:3000"
    env_file:
      - ./server/.env
    depends_on:
      - recommender
      - sentiment

  client:
    build: ./client
    ports:
      - "5173:5173"
    depends_on:
      - server

  recommender:
    build: ./recommender
    ports:
      - "8002:8002"

  sentiment:
    build: ./sentiment-service
    ports:
      - "8001:8001"
